* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  color: #444;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

header {
  /* background-color: orangered; */
  height: 100vh;
  position: relative;

  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(2.jpg);
  background-size: cover;
  color: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #f6f6f6;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.header-container {
  width: 1200px;
  position: absolute;
  margin-top: 50px;
  padding: 0 20px;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.05;
}
p {
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn:link,
.btn:visited {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 600;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}

.btn:hover,
.btn:active {
  color: #000;
}
